body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-bottom: 20px; /* Avoid content touching the bottom */
  }
  
  header {
    background-color: #b9cabf;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  p {
    margin: 10px 0;
  }
  
  img {
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  #image {
    text-align: center;
  }
  
  #image img {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  ul {
    margin-left: 20px;
  }
  
  a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #003366;
    text-decoration: underline;
  }
  
  footer {
    background-color: #b9cabf;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
  }

  .left-padding {
    padding-left: 55px; 
  }
  